* {
padding: 0;
margin: 0;
box-sizing: border-box !important
}

.navbar {
    background-color: #454647 !important;
}

.navbar img {
    width: 100px !important;
}

.navbar h5 {
    color: #fff !important;
}

.principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/ba1.jpg) !important;
    height: 100vh !important;
    background-size: cover;
    position: relative;
}

.principal p, h6{
    position: absolute;
    color: white;
    text-align: right;
    right: 10%;
    top: 50% !important;
    bottom: 50% !important;
    font-size: 17px
}

.nav {
    background-color: rgb(29, 73, 98) !important;
}

.nav a{
    color: #fff !important;
    font-style: none !important;
}